# Node.js 환경 설정 (Node.js 프로젝트의 경우)
node_modules/
npm-debug.log

# 환경 변수 파일
.env

# 운영 체제별 파일 무시
.DS_Store
Thumbs.db

# 로그 파일
logs/
*.log

# 빌드 출력 파일 무시
dist/
build/

# IDE 및 편집기별 파일 무시
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
